@charset "UTF-8";

body{
    background-color: rgb(161, 199, 199);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1{
    background-color: rgb(167, 147, 33);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}   
h1#principal{
    background-color: rgb(163, 67, 67);
} 
h2{
    background-color: aqua;
   
}

.plot{
    background-color: brown;
    font-family:'Times New Roman', Times, serif
    color: rgb(217, 233, 232);
    
}
    

p{
    background-color: rgb(177, 29, 133);
    color: white;

}