@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
  
  
}


:root{
    --cor1:#6A92F7;
    --cor2:#6AEBF7;
    --cor3:#497AFA;
    --cor4:#6F6AF7;
    --cor5:yellow;
    --cor6:white;
    
}
body{
    margin: 5vh;
    background-color: var(--cor2);
    background-image: url(assets/walpaper.jpeg);

}
h1{
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    font-size: 13vh;
    
    
}
header{
    background-color: var(--cor1);
    padding: 60px;
    text-align: center;
    
}
div,img{
    display: flex;
    justify-content: center;
    min-width:50%;
    max-height: 100%;
}
img{
    display: flex;
    justify-content: center;

    width: 350px;
}
figure{
    border: thick blanchedalmond  solid ;
    
}
p{
    padding: 2px;
    margin: 2px;
    color: var(--cor6);
    text-align: justify;
    font-size: 1.3em;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.botao-voltar{
    
    text-align: center;
    cursor: pointer; 
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.671);
    border: 2px solid white;
    border-radius: 2rem;
    padding: 9px;
    margin: 10vh;
    
    
}
.botao-voltar:hover{
    background-color: var(--cor6);
    
    
    
    
}


a{
    text-decoration: none;
    
}

footer{
    text-align: center;
    
    background-color: var(--cor4);
}

