@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    

}
html, body {
    min-height: 100%;
    background-color: darkcyan;
    font-family: var(--fonte2)
}

header{
    background-color: black;
    color: white;
    text-align: center; 
    
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
    
}
header > p {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:  2em;
    padding-left: 30px;
    font-size: 3vw;
   
}

section.normal {
    background-color: rgb(240, 230, 230);
    color: black;
}
section.imagem {
    background-color: rgb(31, 30, 30);
    color: white;

}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgb(43, 44, 43);
    color: white;

}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}